<md-dialog layout="column">


    <form name="movieForm" layout="column" style="width: 1000px">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block input-movie-title-form">
                    <label>Título do filme</label>
                    <input ng-model="movie.title" required name="titleInput">
                    <div ng-messages="movieForm.titleInput.$error">
                        <div ng-message="required">É obrigatório informar um título.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Título original do filme</label>
                    <input ng-model="movie.original_title">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>URL da imagem do poster</label>
                    <input ng-model="movie.poster_path">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>URL de uma cena do filme</label>
                    <input ng-model="movie.backdrop_path">
                </md-input-container>

                <md-chips ng-model="genre_ids" md-autocomplete-snap
                          md-transform-chip="transformChip($chip)"
                          md-require-match="true">
                    <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.name"
                            placeholder="Procure por um gênero">
                        <span md-highlight-text="searchText">{{item.genreName}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                <span>
                  <strong>{{$chip.genreName}}</strong>
                </span>
                    </md-chip-template>
                </md-chips>

                <div layout="row" class="input-movie-title-form">

                    <md-input-container class="md-block" flex-gt-sm flex="30">
                        <label>Ano de lançamento</label>
                        <md-select ng-model="movie.release_date">
                            <md-option ng-repeat="year in years" value="{{year}}">
                                {{year}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-slider-container flex="60">
                        <span>Nota: {{movie.vote_average}}</span>
                        <md-slider flex min="0" max="10" step="0.1" ng-model="movie.vote_average" aria-label="red"
                                   id="red-slider">
                        </md-slider>
                    </md-slider-container>

                </div>

                <md-input-container class="md-block">
                    <label>Sinopse</label>
                    <textarea ng-model="movie.overview" rows="3" md-select-on-focus></textarea>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="clearForm(movieForm)">
                {{titleOfClearResetButton}}
            </md-button>
            <md-button class="md-raised md-primary" ng-disabled="movieForm.$invalid" ng-click="addMovie(movie)">
                {{titleOfSaveEditButton}}
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>